<html>
    <head>
        <link rel="stylesheet" src="./login.component.scss">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <form (ngSubmit)="f.form.valid && login()" #f="ngForm">
            <label>Username:</label><br>
            <input type="text" name="email" [(ngModel)]="loginForm.email" required><br>
            <label>Password:</label><br>
            <input type="password" name="password" [(ngModel)]="loginForm.password" required><br>
            <button type="submit">Login</button>
            <p>Not have an account!!create here <a routerLink="/signup">Signup</a></p>
        </form>
    </body>
</html>
